<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ws node</title>
    <script>
      const ws = new WebSocket(`ws://localhost:8001`);

      const user = localStorage.getItem("user") || generateRandomString(16);
      localStorage.setItem("user", user);

      const room = new URL(document.location).searchParams.get("room");

      ws.onopen = () => {
        ws.send(
          JSON.stringify({
            user: user,
            room: room,
            message_type: "open",
          })
        );
      };

      ws.onmessage = (event) => {
        let data = JSON.parse(event.data);

        if (data === "ping") {
          ws.send("pong");
        } else if (data.message_type === "user_add") {
          const users = document.getElementById("users");
          const user = document.createElement("b");
          user.setAttribute("id", `user_${data.user}`);

          const content = document.createTextNode(` ${data.user}`);
          user.appendChild(content);
          users.appendChild(user);
        } else if (data.message_type === "user_remove") {
          const user = document.getElementById(`user_${data.user}`);
          user.remove();
        } else {
          const messages = document.getElementById("messages");
          const message = document.createElement("li");

          const content = document.createTextNode(
            `${data.timestamp} - ${data.user}: ${data.message}`
          );
          message.appendChild(content);
          messages.appendChild(message);
        }
      };

      window.onload = () => {
        let input = document.getElementById("sendMessage");
        window.addEventListener("keyup", function (event) {
          if (event.key === "Enter") {
            input.click();
          }
        });
      };

      function generateRandomString(length) {
        let result = "";
        const characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

        for (let i = 0; i < length; i++) {
          const randomIndex = Math.floor(Math.random() * characters.length);
          result += characters.charAt(randomIndex);
        }

        return result;
      }

      function wsSendMessage() {
        let message = document.getElementById("message").value;
        if (message === "" || message === null || message === undefined) {
          return;
        }

        ws.send(
          JSON.stringify({
            user: user,
            message: document.getElementById("message").value,
            room: room,
          })
        );
      }
    </script>
  </head>

  <body>
    <h1>ws node</h1>
    <form onsubmit="event.preventDefault()">
      <input
        type="text"
        name="message"
        id="message"
        placeholder="write your message"
      />
      <button type="button" id="sendMessage" onclick="wsSendMessage()">
        send
      </button>
    </form>
    <h1>online users</h1>
    <div id="users">
      <% for (const user of users) { %>
      <b id="user_<%= user %>"><%= user %></b>
      <% } %>
    </div>
    <hr />
    <ul id="messages">
      <% for (const message of messages) { %>
      <li><%= message %></li>
      <% } %>
    </ul>
  </body>
</html>
